<div class="container-fluid top-bar theme-bg">
  <div class="row">
    <div class="col-5 logo">
      <div class="image-logo" src="assets/img/logo.png"></div>
    </div>
    <!-- <div class="col text-right">
      <span class="d-none d-sm-inline">
        <a href="#">{{ lang.i18n.sharedComponent.corporateBanking }}</a
        >{{ ' ' }} <span class="dotted">&middot;</span>{{ ' ' }}
        <a href="#">{{ lang.i18n.sharedComponent.switchToClassic }}</a>
      </span>
      <button class="menu-button" (click)="toggleSidebar()">
        <i class="icon-side-menu"></i>
      </button>
    </div> -->
  </div>
</div>
