.top-bar {
  z-index: 2;
  padding: 15px 15px 15px 15px;
  color: var(--color-white);
  font-weight: bold;
  position: inherit;

  a {
    color: var(--color-white);
    font-weight: bold;
  }

  .dotted {
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu-button {
    background: none;
    border: none;
    color: var(--color-white);
  }
}

.theme-bg {
  background-color: var(--color-blue);
}

.image-logo {
  background-image: var(--logo);
  background-repeat: no-repeat;
  min-height: 40px;
  min-width: 150px;
  position: relative;
  background-size: contain;
}

.menu-button {
  cursor: pointer;

  i {
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-left: 15px;
  }

  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 575px) {
  .logo {
    position: absolute;
    max-width: min-content;
    left: 0;
    right: 0;
    margin: auto;
  }
}
