.sig-container {
  border-style: solid;
  border-width: 1px;
}

.sig-container canvas {
  border-style: solid;
  border-width: 1px;
}

.sig-container canvas {
  background-image: url(/assets/sign-here.png);
  background-repeat: no-repeat;
  background-position-y: 400px;
}

.sig-container-image {
  height: 400px;
  width: 400px;
}

.sig-container-image canvas {
  background-image: url(/assets/cat-sig.png);
}
