<h1>
  {{ title }}
</h1>

<form [formGroup]="form" (submit)="submit()" (window:resize)="beResponsive()">
  <div class="sig-container" #sigContainer1>
    <!-- <div fxLayout="row">
      <button
        type="button"
        (click)="sigs.first.clear()"
        [disabled]="!form.controls.signatureField1.valid"
      >
        Clear Sig 1
      </button>
    </div> -->
    <div fxLayout="row">
      <app-signature formControlName="signatureField1"></app-signature>
    </div>
  </div>
  <div fxLayout="row">
    <button
      type="button"
      (click)="clear()"
      [disabled]="!form.controls.signatureField1.valid"
    >
      Clear
    </button>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>
