<!-- <p>agreement works!</p> -->
<div>
  {{ title }}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div>Name:</div>
      <div>Address :</div>
      <div>IC NO. :</div>
    </div>
    <div class="col-6">
      <div>Phone No. :</div>
      <div>Passport No. :</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>SPA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span><i class="fas fa-file-pdf fa-7x"></i></span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>SPA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span><i class="fas fa-file-pdf fa-7x"></i></span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>SPA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span><i class="fas fa-file-pdf fa-7x"></i></span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>SPA</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span><i class="fas fa-file-pdf fa-7x"></i></span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>View</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <app-agreement-viewer></app-agreement-viewer>
</div>
