.btn {
  height: 45px;
  min-width: 100px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  line-height: 1em;

  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  &.btn-primary {
    &:not(:disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      border: none;
      background: #000044;
    }
    &:disabled {
      border: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
    background: #000044;
  }
  &.btn-outline-primary {
    border: 1px solid #000044;
    color: #000044;
    background: transparent;
    &:not(:disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      color: #fff;
      background: var(--btn-outline-hover);
      border: none;
    }
    &:disabled {
      border-color: var(--color-grey);
      color: var(--color-grey);
      cursor: not-allowed;
    }
  }
}