table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th {
    border-top: none !important;
  }
  
  td,
  th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  thead {
    color: #555;
    font-weight: bold;

  }
  
  tbody {
    color: var(--color-primary);
    font-weight: normal;
  }
  
  // tbody tr:hover:not(th) {
  //   // background-color: lightblue;
  //   cursor: pointer;
  // }