.btn {
  height: 55px;
  min-width: 100px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  padding: 12px 22px;
  margin-bottom: 10px;
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  &.btn-primary {
    &:not(:disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      border: none;
      background: var(--btn-bg-hover);
      background: var(--btn-bg-moz-hover);
      background: var(--btn-bg-webkit-hover);
      background: var(--btn-bg-linear-hover);
      filter: var(--btn-bg-filter-hover);
    }
    &:disabled {
      border: none;
      opacity: 0.5;
      cursor: not-allowed;
    }
    background: var(--btn-bg);
    background: var(--btn-bg-moz);
    background: var(--btn-bg-webkit);
    background: var(--btn-bg-linear);
    filter: var(--btn-bg-filter);
  }
  &.btn-outline-primary {
    border: 1px solid var(--btn-outline);
    color: var(--btn-outline);
    background: transparent;
    &:not(:disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: var(--btn-outline-hover);
    }
    &:disabled {
      border-color: var(--color-grey);
      color: var(--color-grey);
      cursor: not-allowed;
    }
  }
}
