//these are modified styles
@import "./custom/button";
@import "./custom/table";
@import "./custom/theme";

//custom style
.overflowx-hidden {
  overflow-x: hidden;
}

.panel {
  margin: 0px 20px;
  background-color: white;
  padding: 5px 0px 1px;
}

.panel-inner-pad {
  padding: 5px 25px;
}

.custom-container {
  padding-bottom: 30px;
}

.container-inner-pad {
  padding: 10px;
}

.custom-wrapper {
  display: flex;
}

.custom-box {
  .box-content {
    padding: 15px 20px 20px 20px;
  }
}

.custom-card {
  text-align: center;
  font-size: 1.5em;
  color: #555;
  background: #fff;
  border-radius: 5px;
  margin: 15px 0px 0px;
  line-height: 1;
  cursor: pointer;
  border-left: solid 5px #000044 !important;
  height: 105px;
  
  .card-body {
    flex: 1 1 auto;
    padding: 10px;

    .card-text {
      font-size: 1.5em;
    }

    .card-title {
      text-align: left;
      font-weight: 600;
      color: #6c757d;
    }
  }

  &:hover {
    background: #3f51b552;
    // background: #17a2b8;
  }

  .selected {
    border-radius: 0px 5px 5px 0px;
    // background: #17a2b8;
    background: #3f51b552;
    height: inherit;
  }
}

.form-group .required::after {
  content: "*";
  color: var(--color-danger);
}

.custom-tab-panel {
  margin: 0px 20px;
  color: var(--color-primary);
  background-color: #e9ecef;

  a {
    color: var(--color-primary);
  }

  nav {
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      color: var(--color-primary);
    }

    .nav-link {
      margin-top: 8px;
      color: var(--color-primary);
    }

    .nav-item {
      color: var(--color-primary);
    }
  }

  .nav-tabs .nav-link {
    border: none;
    border-radius: 0px;
  }

  .nav-link.active {
    border-bottom: solid 2px #000044 !important;
  }

  .tab-content > .active {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    padding-bottom: 10px;
  }
}
