label {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  color: var(--color-dark);
}
.form-control {
  color: var(--color-primary);
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0px;
  font-size: 16px;
  padding: 0px;
  height: 28px;
  line-height: 28px;
  &:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--color-input-focus) !important;
    background: none;
    color: var(--color-primary);
  }
  &.is-invalid {
    border-bottom: 2px solid var(--color-danger);
  }

  &:disabled {
    background: none;
    border-bottom: 1px solid var(--color-6);
    color: var(--color-preview);
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
  }
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.invalid-feedback {
  color: var(--color-danger);
  font-weight: 700;
}

// ng-select customizations
ng-select.ng-select {
  font-size: 14px;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  max-height: 28px;
  .ng-select-container {
    background: none;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px;
    height: 28px !important;
    min-height: 28px;
    box-shadow: none !important;
    .ng-clear-wrapper {
      display: none;
    }
  }
  .ng-value {
    width: 100%;
    color: var(--color-primary);
  }
}

.ng-value-container {
  padding-left: 0px !important;
}

.ng-select .ng-arrow-wrapper {
  &:hover .ng-arrow {
    border-top-color: var(--color-primary);
  }
  .ng-arrow {
    border-color: var(--color-primary) transparent transparent;
  }
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  border-color: transparent transparent var(--color-primary);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--color-primary);
}

.form-control.is-valid,
ng-select.ng-select.is-valid {
  border-color: var(--color-primary);
}

ng-select.ng-select.is-invalid ~ .invalid-feedback {
  display: block;
}

ng-select.ng-select.is-invalid {
  border-bottom: 2px solid var(--color-danger);
  &.ng-select-opened {
    border-bottom: 1px solid var(--color-primary);
  }
}

.ng-dropdown-panel {
  -webkit-box-shadow: 0 0 10px var(--color-primary-dark-transparent-2);
  -moz-box-shadow: 0 0 10px var(--color-primary-dark-transparent-2);
  box-shadow: 0 0 10px var(--color-primary-dark-transparent-2);
  border: none;
  background-color: var(--body-bg);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:not(:last-child) {
  border-bottom: 1px solid var(--color-6);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: var(--color-primary);
  background-color: var(--body-bg);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--color-dropdown-select);
  color: var(--color-dark);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: var(--color-dropdown-select);
  color: var(--color-dark);
  font-weight: normal;
}

.ng-select.ng-select-opened > .ng-select-container {
  background-color: var(--body-bg) !important;
}

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
  border-bottom: 1px solid var(--color-primary);
}

.ng-select.ng-select-opened.ng-select-top > .ng-select-container {
  border-bottom: 1px solid var(--color-primary);
}

.ng-dropdown-panel.ng-select-bottom {
  margin-top: 2px;
}

.ng-dropdown-panel.ng-select-bottom {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.ng-dropdown-panel.ng-select-top {
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.ng-select .ng-arrow-wrapper {
  text-align: right !important;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background: transparent !important;
}

.ng-select.ng-select-disabled {
  border-color: var(--color-placeholder);
  .ng-placeholder {
    color: var(--color-placeholder) !important;
  }
  .ng-arrow-wrapper .ng-arrow,
  .ng-arrow-wrapper:hover .ng-arrow {
    border-color: var(--color-placeholder) transparent transparent;
  }
}
