.header-bg {
  background-position: top;
  background-repeat: no-repeat;
  // background-size: cover;
  // background-image: var(--bg2);
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 45px;
  background-color: white;
  height: 50px;
}
