@font-face {
  font-family: 'newirb';
  src: url('../assets/font/newirb.eot?7161nh');
  src: url('../assets/font/newirb.eot?7161nh#iefix') format('embedded-opentype'),
    url('../assets/font/newirb.ttf?7161nh') format('truetype'),
    url('../assets/font/newirb.woff?7161nh') format('woff'),
    url('../assets/font/newirb.svg?7161nh#newirb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'newirb' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 18px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  cursor: pointer;
}

.icon-add:before {
  content: '\e900';
}
.icon-add_2:before {
  content: '\e901';
  color: var(--color-primary);
}
.icon-back:before {
  content: '\e902';
  color: #080035;
  height: 0px;
  font-size: 20px;
}
.icon-backtotop:before {
  content: '\e903';
}
.icon-breadcrumb_back:before {
  content: '\e904';
  color: var(--color-secondary);
}
.icon-calendar:before {
  content: '\e905';
  color: var(--color-primary);
}
.icon-caret:before {
  content: '\e906';
}
.icon-caret_down:before {
  content: '\e907';
  color: var(--color-primary);
}
.icon-caret_up:before {
  content: '\e908';
  color: var(--color-primary);
}
.icon-champion:before {
  content: '\e909';
}
.icon-chatbot:before {
  content: '\e90a';
}
.icon-cheque:before {
  content: '\e90b';
}
.icon-close:before {
  content: '\e90c';
  color: var(--color-secondary);
}
.icon-entertainment:before {
  content: '\e90d';
}
.icon-eshoppinge:before {
  content: '\e90e';
}
.icon-fashion:before {
  content: '\e90f';
}
.icon-favourited:before {
  content: '\e910';
  color: var(--color-favourite);
}
.icon-ft:before {
  content: '\e911';
}
.icon-fuel:before {
  content: '\e912';
}
.icon-groceries:before {
  content: '\e913';
}
.icon-healthcare:before {
  content: '\e914';
}
.icon-household:before {
  content: '\e915';
}
.icon-logout:before {
  content: '\e916';
}
.icon-next:before {
  content: '\e917';
  color: var(--color-secondary);
}
.icon-others:before {
  content: '\e918';
}
.icon-receipt:before {
  content: '\e919';
}
.icon-search:before {
  content: '\e91a';
  color: var(--color-secondary);
}
.icon-settings:before {
  content: '\e91b';
}
.icon-side-menu:before {
  content: '\e91c';
  font-size: 25px;
  background-color: #000044;
  color: white;
  border-radius: 3px;
  padding: 5px;
}
.icon-travel:before {
  content: '\e91d';
}
.icon-favourite:before {
  content: '\e91e';
  color: var(--color-favourite);
}
.icon-checkbox:before {
  content: '\e91f';
}
.icon-checked:before {
  content: '\e920';
}
.icon-check:before {
  content: '\e921';
}
.icon-filter:before {
  content: '\e922';
}
.icon-questionmark:before {
  content: '\e923';
}
.icon-warning:before {
  content: '\e924';
}
