.suggestion-box {
  .slick-dots {
    position: static;
  }
}

.currency-slider {
  text-align: center;
  padding-top: 10px;
  .slider-rangeHighlight.slider-background {
    background: var(--color-slider);
  }

  .slider-handle {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 12px;
    background-color: var(--color-slider);
    border: var(--color-white) 1px solid;
    background-image: unset;
  }

  .slider-handle.round {
    border-radius: 30px;
  }

  .slider-tick {
    position: absolute;
    cursor: pointer;
    width: 4px;
    height: 4px;
    background-color: var(--color-slider);
    opacity: 1;
    background-image: unset;
    background-repeat: unset;
    box-shadow: unset;
  }

  .slider.slider-horizontal .slider-track {
    height: 2px;
    width: 100%;
    top: 55%;
    left: 0;
  }

  .slider.slider-horizontal .slider-tick {
    margin-left: 0px;
    top: 5px;
  }

  .slider.slider-horizontal .slider-handle {
    margin-left: -15px;
  }

  .slider.slider-horizontal .slider-tick-label-container {
    margin-top: 6px;
    .slider-tick-label {
      padding-top: 0px;
      font-size: 10px;
      color: var(--color-slider-label);
    }
  }
}
