.modal-dialog {
  .modal-content {
    border-radius: 7px;
    border: none;
    background-color: var(--modal-bg);
    .modal-header {
      text-align: center;
      height: 56px;
      background-image: var(--bg1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: var(--bg1-position);
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border: none;
      color: var(--color-white);
      display: block;
      .modal-title {
        line-height: 1;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .modal-body {
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      p {
        margin: 0px;
      }
    }

    .modal-footer {
      text-align: center;
      border: none;
      padding-top: 0;
      display: block;
    }
  }
}

app-inactive-modal .modal,
app-timeout-modal .modal {
  z-index: 1052;
}

.modal-backdrop.fade.show:nth-of-type(2) {
  z-index: 1051 !important;
}

.modal-backdrop {
  background-color: var(--modal-backdrop);
}
