// @import './landing.scss';
// @import './modal.scss';
// @import './form.scss';
// @import './transaction.scss';
// @import './buttons.scss';
// @import './icon.scss';
// @import './header.scss';
// @import './chart.scss';
// @import './theme.scss';
@import './custom.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

html {
  min-height: 100%;
  position: relative;
}

html,
body {
  // height: 100%;
  // font-family: 'Advent';
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: var(--body-bg);
  color: var(--color-body);
}

.body-bg-tp {
  background-color: transparent !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-handle);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-handle-hover);
}

.container {
  padding-bottom: 30px;
}

.header-l {
  position: absolute;
  top: 0;
  left: 25px;

  img {
    height: 100px;
  }
}

.header-r {
  position: absolute;
  top: 25px;
  right: 25px;

  .lbl {
    color: var(--color-white);
    line-height: 50px;
  }
}

.radio-lbl {
  cursor: pointer;
  margin-bottom: 0.2rem;
}

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 100;
//   src: url('../assets/font/advent-Lt3.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 200;
//   src: url('../assets/font/advent-Lt2.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 300;
//   src: url('../assets/font/advent-Lt1.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../assets/font/advent-Re.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 500;
//   src: url('../assets/font/advent-Bd1.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../assets/font/advent-Bd2.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Advent';
//   font-style: normal;
//   font-weight: 900;
//   src: url('../assets/font/advent-Bd3.otf') format('opentype');
// }

input[type='checkbox']+span:before {
  font-family: 'newirb';
  color: var(--color-primary);
  content: '\e91f';
  cursor: pointer;
}

input[type='checkbox']:checked+span:before,
input[type='checkbox'][checked]+span:before {
  color: var(--color-primary);
  content: '\e920';
  font-weight: 700;
}

input[type='checkbox'] {
  display: none;
}

.toggle-btn {
  background: var(--color-white);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.has-header {
  // padding-top: 95px;
}

.circle {
  background: var(--btn-bg);
  background: var(--btn-bg-moz);
  background: var(--btn-bg-webkit);
  background: var(--btn-bg-linear);
  filter: var(--btn-bg-filter);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: auto;
  color: var(--color-white);
}

.half-trans-box {
  background: var(--color-primary-dark-transparent-3);
  border: var(--color-6) 1px solid;
  border-radius: 20px;
}

.circle-seperator {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--color-nav);
  margin-bottom: 3px;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.px-33 {
  padding-left: 33px !important;
  padding-right: 33px !important;
}

.header-back-nav {
  span {
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    // margin-top: -34px;
    margin-top: -25px;
    padding-left: 35px;
    display: block;
    color: #676a6c;
    font-size: 1.2em;
    cursor: default;
    // color: var(--color-nav);
  }
}

.datepicker .datepicker-days table tbody td,
.datepicker .datepicker-days table tbodyth {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.datepicker table tr td span {
  border-radius: 50% !important;
  // margin: 0 !important;
  // width: 25% !important;
  height: 50px !important;
  line-height: 50px !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: var(--color-grey-light) !important;
  cursor: not-allowed !important;
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.active:hover,
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.focused.active,
.datepicker table tr td span.focused.active.disabled,
.datepicker table tr td span.focused.active.disabled:hover,
.datepicker table tr td span.focused.active:hover {
  background-image: linear-gradient(var(--color-3),
      var(--color-primary)) !important;
  background-color: var(--color-white) !important;
  color: var(--color-white) !important;
  opacity: 1;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background-image: linear-gradient(var(--color-3),
      var(--color-primary)) !important;
  opacity: 0.5;
  color: var(--color-white) !important;
}

.datepicker table thead {
  color: var(--color-primary);

  .icon:before {
    color: var(--color-primary);
  }
}

.datepicker table tbody {
  color: var(--color-dark);
}

.datepicker.dropdown-menu {
  background-color: var(--modal-bg);
  border-color: var(--color-6);
  border-radius: 15px;
  padding: 10px;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: 16px !important;
}

.datepicker-dropdown.datepicker-orient-left:after {
  left: 17px !important;
}

.dropdown-arrowup {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--color-primary);
}

.dropdown-box-shadow {
  box-shadow: 0 2px 10px 0 var(--color-black-transparent);

  &.pink-border-top {
    border-top: 3px solid var(--color-primary);
  }

  .item {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid var(--color-6);
  }

  .item:last-child {
    border-bottom: 0px;
  }
}

@media only screen and (max-width: 575px) {
  .header-pt-0 .has-header {
    padding-top: 90px;
  }

  .has-header {
    padding-top: 180px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-pt-0 .has-header {
    padding-top: 90px;
  }

  .has-header {
    padding-top: 150px;
  }
}

::-webkit-input-placeholder {
  color: var(--color-placeholder) !important;
  font-size: 16px;
  text-align: left;
}

::-moz-placeholder {
  color: var(--color-placeholder) !important;
  font-size: 16px;
  text-align: left;
}

:-ms-input-placeholder {
  color: var(--color-placeholder) !important;
  font-size: 16px;
  text-align: left;
}

:-moz-placeholder {
  color: var(--color-placeholder) !important;
  font-size: 16px;
  text-align: left;
}

.ads-carousel .slick-dots {
  bottom: 0px !important;
  width: auto !important;
  right: 8px !important;
}

.ads-carousel .slick-dots li {
  width: 10px;
}

.ads-carousel.slick-dotted.slick-slider {
  margin-bottom: 10px;
}

.negative {
  color: var(--color-negative);
}

.positive {
  color: var(--color-positive);
}

//toggle button
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--color-toggle-bar) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-toggle-thumb) !important;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: var(--color-toggle-thumb) !important;
}

.mat-slide-toggle-bar {
  background-color: var(--color-toggle-bar) !important;
}

//theme selection
.theme-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -30px;
  padding: 15px 30px;

  .line {
    height: 1px;
    border-top: 4px solid var(--color-7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
  }
}

.circle-blue {
  background: rgb(56, 141, 237);
  background: -moz-linear-gradient(left,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 204, 250, 1) 50%);
  background: -webkit-linear-gradient(left,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 204, 250, 1) 50%);
  background: linear-gradient(to right,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 204, 250, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#388ded', endColorstr='#3cccfa', GradientType=1);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: auto;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.circle-turqoise {
  background: rgb(55, 201, 171);
  background: -moz-linear-gradient(left,
      rgba(55, 201, 171, 1) 50%,
      rgba(0, 156, 149, 1) 50%);
  background: -webkit-linear-gradient(left,
      rgba(55, 201, 171, 1) 50%,
      rgba(0, 156, 149, 1) 50%);
  background: linear-gradient(to right,
      rgba(55, 201, 171, 1) 50%,
      rgba(0, 156, 149, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37c9ab', endColorstr='#009c95', GradientType=1);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: auto;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.circle-pink {
  background: rgb(255, 104, 47);
  background: -moz-linear-gradient(left,
      rgba(255, 104, 47, 1) 50%,
      rgba(254, 13, 141, 1) 50%);
  background: -webkit-linear-gradient(left,
      rgba(255, 104, 47, 1) 50%,
      rgba(254, 13, 141, 1) 50%);
  background: linear-gradient(to right,
      rgba(255, 104, 47, 1) 50%,
      rgba(254, 13, 141, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff682f', endColorstr='#fe0d8d', GradientType=1);
  /* IE6-9 */
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: auto;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.circle-dark {
  background: rgb(35, 43, 90);
  background: -moz-linear-gradient(left,
      rgba(35, 43, 90, 1) 50%,
      rgba(22, 29, 57, 1) 50%);
  background: -webkit-linear-gradient(left,
      rgba(35, 43, 90, 1) 50%,
      rgba(22, 29, 57, 1) 50%);
  background: linear-gradient(to right,
      rgba(35, 43, 90, 1) 50%,
      rgba(22, 29, 57, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232b5a', endColorstr='#161d39', GradientType=1);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: auto;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

hr {
  border-color: var(--color-6);
}
