//default colors
:root {
  --color-blue: rgb(176, 217, 251);
  --color-body: #212529;
  --color-black: #000;
  --color-black-transparent: rgba(0, 0, 0, 0.15);
  --color-black-transparent-2: rgba(0, 0, 0, 0.5);
  --color-white: #fff;
  --color-white-2: #fff2f9;
  --color-white-transparent: rgba(255, 255, 255, 0.75);
  --color-white-transparent-2: rgba(255, 255, 255, 0.7);
  --color-primary: #5266a7;
  --color-primary-dark-transparent: rgba(82, 102, 167, 0.2);
  --color-primary-dark-transparent-2: rgba(82, 102, 167, 0.3);
  --color-primary-dark-transparent-3: rgba(82, 102, 167, 0.05);
  --color-secondary: #5266a7;
  --color-3: #388ded;
  --color-6: #dbd1bf;
  --color-7: #e1e1e1;
  --color-grey: #888888;
  --color-grey-2: #b8b8b8;
  --color-grey-light: #cccccc;
  --color-success: #3cb878;
  --color-dark: #555555;
  --color-dark-2: #333333;
  --color-danger: #b9131b;
  --color-favourite: #f7941d;
  --color-positive: #20b303;
  --color-negative: #f40000;
  --body-bg: #fff;
  --card-body-bg: #fff;
  --logo: url('src/assets/img/logo.png');
  --bg: url('src/assets/img/theme-blue/bg.jpg');
  --bg1: url('src/assets/img/theme-blue/bg1.jpg');
  --bg2: url('src/assets/img/theme-blue/bg2.jpg');
  --bg1-position: center;
  --bg1-transparency: 0.2;
  --footer-bg: url('src/assets/img/bg_footer.jpg');
  --footer-nav: #5266a7;
  --modal-bg: #fff;
  --modal-backdrop: #000;
  --loader: url('src/assets/img/theme-blue/loading.gif');
  --color-input-focus: #388ded;
  --color-preview: #555555;
  --color-placeholder: #dbd1bf;
  --color-inbox-txt: #5266a7;
  --btn-bg: rgb(147, 72, 191);
  --btn-bg-moz: -moz-linear-gradient(left,
      rgba(147, 72, 191, 1) 0%,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 205, 250, 1) 100%);
  --btn-bg-webkit: -webkit-linear-gradient(left,
      rgba(147, 72, 191, 1) 0%,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 205, 250, 1) 100%);
  --btn-bg-linear: linear-gradient(to right,
      rgba(147, 72, 191, 1) 0%,
      rgba(56, 141, 237, 1) 50%,
      rgba(60, 205, 250, 1) 100%);
  --btn-bg-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9348bf', endColorstr='#3ccdfa', GradientType=1);
  --btn-bg-hover: rgb(117, 58, 201);
  --btn-bg-moz-hover: -moz-linear-gradient(left,
      rgba(117, 58, 201, 1) 0%,
      rgba(46, 110, 190, 1) 50%,
      rgba(48, 164, 200, 1) 100%);
  --btn-bg-webkit-hover: -webkit-linear-gradient(left,
      rgba(117, 58, 201, 1) 0%,
      rgba(46, 110, 190, 1) 50%,
      rgba(48, 164, 200, 1) 100%);
  --btn-bg-linear-hover: linear-gradient(to right,
      rgba(117, 58, 201, 1) 0%,
      rgba(46, 110, 190, 1) 50%,
      rgba(48, 164, 200, 1) 100%);
  --btn-bg-filter-hover: progid:DXImageTransform.Microsoft.gradient(startColorstr='#753ac9', endColorstr='#30a4c8', GradientType=1);
  --btn-outline: #388cee;
  --btn-outline-hover: #d9e1eb;
  --color-sidebar-top: rgba(82, 102, 167, 0.9);
  --color-sidebar-btm: rgba(56, 141, 237, 0.9);
  --color-scrollbar-track: #b8b8b8;
  --color-scrollbar-handle: #3cccfa;
  --color-scrollbar-handle-hover: #3cccfa;
  --color-nav: #fff;
  --color-nav-2: #fff;
  --color-nav-3: #555555;
  --color-nav-bg: rgba(56, 141, 237, 0.5);
  --step-dot: #388ded;
  --step-dot-active: #fff;
  --step-dot-outline: #fff;
  --step-dot-active-outline: #388ded;
  --fav-item: #fff;
  --fav-item-hover: #fff200;
  --fav-item-outline: #5266a7;
  --fav-item-outline-hover: #5266a7;
  --color-slider: #3cccfa;
  --color-slider-label: #fff;
  --color-tac-bg: #fff9bb;
  --color-dropdown-select: #eeeeee;
  --color-acc-card-bg: rgba(255, 255, 255, 0.6);
  --chqcard-border-right-dark: #77dbfc;
  --chqcard-border-right: #77dbfc;
  --color-login-header: #388ded;
  --color-toggle-thumb: #5266a7;
  --color-toggle-bar: rgba(82, 102, 167, 0.54);
  --color-product-desc: #5266a7;
  --color-unread-bg: #e1e1e1;
  --color-inbox-action-bg: #dbd1bf;
}

// pass variables into a sass map
$variables: (--color-body: var(--color-body),
  --color-blue: var(--color-blue),
  --color-black: var(--color-black),
  --color-black-transparent: var(--color-black-transparent),
  --color-black-transparent-2: var(--color-black-transparent-2),
  --color-white: var(--color-white),
  --color-white-2: var(--color-white-2),
  --color-white-transparent: var(--color-white-transparent),
  --color-white-transparent-2: var(--color-white-transparent-2),
  --color-primary: var(--color-primary),
  --color-primary-dark-transparent: var(--color-primary-dark-transparent),
  --color-primary-dark-transparent-2: var(--color-primary-dark-transparent-2),
  --color-primary-dark-transparent-3: var(--color-primary-dark-transparent-3),
  --color-secondary: var(--color-secondary),
  --color-3: var(--color-3),
  --color-6: var(--color-6),
  --color-7: var(--color-7),
  --color-grey: var(--color-grey),
  --color-grey-2: var(--color-grey-2),
  --color-grey-light: var(--color-grey-light),
  --color-success: var(--color-success),
  --color-dark: var(--color-dark),
  --color-dark-2: var(--color-dark-2),
  --color-danger: var(--color-danger),
  --color-favourite: var(--color-favourite),
  --color-positive: var(--color-positive),
  --color-negative: var(--color-negative),
  --body-bg: var(--body-bg),
  --card-body-bg: var(--card-body-bg),
  --logo: var(--logo),
  --bg: var(--bg),
  --bg1: var(--bg1),
  --bg2: var(--bg2),
  --bg1-position: var(--bg1-position),
  --bg1-transparency: var(--bg1-transparency),
  --footer-bg: var(--footer-bg),
  --footer-nav: var(--footer-nav),
  --modal-bg: var(--modal-bg),
  --modal-backdrop: var(--modal-backdrop),
  --loader: var(--loader),
  --color-input-focus: var(--color-input-focus),
  --color-preview: var(--color-preview),
  --color-placeholder: var(--color-placeholder),
  --color-inbox-txt: var(--color-inbox-txt),
  --btn-bg: var(--btn-bg),
  --btn-bg-moz: var(--btn-bg-moz),
  --btn-bg-webkit: var(--btn-bg-webkit),
  --btn-bg-linear: var(--btn-bg-linear),
  --btn-bg-filter: var(--btn-bg-filter),
  --btn-bg-hover: var(--btn-bg-hover),
  --btn-bg-moz-hover: var(--btn-bg-moz-hover),
  --btn-bg-webkit-hover: var(--btn-bg-webkit-hover),
  --btn-bg-linear-hover: var(--btn-bg-linear-hover),
  --btn-bg-filter-hover: var(--btn-bg-filter-hover),
  --btn-outline: var(--btn-outline),
  --btn-outline-hover: var(--btn-outline-hover),
  --color-sidebar-top: var(--color-sidebar-top),
  --color-sidebar-btm: var(--color-sidebar-btm),
  --color-scrollbar-track: var(--color-scrollbar-track),
  --color-scrollbar-handle: var(--color-scrollbar-handle),
  --color-scrollbar-handle-hover: var(--color-scrollbar-handle-hover),
  --color-nav: var(--color-nav),
  --color-nav-2: var(--color-nav-2),
  --color-nav-3: var(--color-nav-3),
  --color-nav-bg: var(--color-nav-bg),
  --step-dot: var(--step-dot),
  --step-dot-active: var(--step-dot-active),
  --step-dot-outline: var(--step-dot-outline),
  --step-dot-active-outline: var(--step-dot-active-outline),
  --fav-item: var(--fav-item),
  --fav-item-hover: var(--fav-item-hover),
  --fav-item-outline: var(--fav-item-outline),
  --fav-item-outline-hover: var(--fav-item-outline-hover),
  --color-slider: var(--color-slider),
  --color-slider-label: var(--color-slider-label),
  --color-tac-bg: var(--color-tac-bg),
  --color-dropdown-select: var(--color-dropdown-select),
  --color-acc-card-bg: var(--color-acc-card-bg),
  --chqcard-border-right-dark: var(--chqcard-border-right-dark),
  --chqcard-border-right: var(--chqcard-border-right),
  --color-login-header: var(--color-login-header),
  --color-toggle-thumb: var(--color-toggle-thumb),
  --color-toggle-bar: var(--color-toggle-bar),
  --color-product-desc: var(--color-product-desc),
  --color-inbox-action-bg: var(--color-inbox-action-bg));
