.section-header {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color-nav-3);
}

.app-card {
  .app-card-header {
    min-height: 53px;
    background-image: var(--bg1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--bg1-position);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: none;
    .steps {
      text-align: center;
      padding-top: 19px;
      .step {
        display: inline-block;
        .line {
          height: 3px;
          width: 25px;
          background-color: var(--color-white);
          display: inline-block;
          margin-bottom: 8px;
          &.long {
            width: 50px;
          }
        }
        @media only screen and (max-width: 575px) {
          .line {
            width: 10px;
            &.long {
              width: 0;
            }
          }
        }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          .line {
            width: 10px;
            &.long {
              width: 20px;
            }
          }
        }
        .dot {
          width: 20px;
          height: 20px;
          background-color: var(--step-dot);
          border-radius: 100%;
          display: inline-block;
          border: 2px solid var(--color-6);
          &.active {
            border: 6px solid var(--step-dot-active);
          }
        }
      }
    }
  }
  .app-card-body {
    background-color: var(--card-body-bg);
    .card-body-main {
      padding: 20px;
      background-color: var(--card-body-bg);
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      .section-header {
        display: none;
      }
      .success-banner {
        background-color: var(--color-success);
        text-align: center;
        color: var(--color-white);
        padding: 5px 10px;
        margin-bottom: 10px;
      }
      .fail-banner {
        background-color: var(--color-danger);
        text-align: center;
        color: var(--color-white);
        padding: 5px 10px;
        margin-bottom: 10px;
      }
      .form-group {
        input::placeholder {
          text-align: left;
          color: var(--color-placeholder);
          font-weight: normal;
        }
        p {
          border-bottom: 1px solid var(--color-6);
          color: var(--color-preview);
          font-weight: bold;
          height: 28px;
          line-height: 28px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
        }
      }
      .collapse-header {
        padding: 15px 30px;
        text-align: center;
        background: var(--color-6);
        cursor: pointer;
        margin-bottom: 15px;
        font-weight: 700;
        color: #555;
        &:before {
          font-size: 16px;
          font-family: 'newirb';
          content: '\e908';
          float: right;
        }
        &.collapsed:before {
          font-family: 'newirb';
          content: '\e907';
          float: right;
        }
      }
    }
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 1px solid var(--color-6);
    border-top: none;
    .app-card-tac {
      padding: 20px;
      background-color: var(--color-tac-bg);
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      form {
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: 5px;
        .form-control {
          font-weight: bold;
          border: none;
          text-align: left;
          width: 100px;
          &[disabled] {
            background: none;
          }
          padding: 0px;
          &::placeholder {
            text-align: left;
            font-weight: normal;
          }
          color: var(--color-primary);
        }
        .tac-interval {
          margin: 0px;
          font-weight: bold;
          padding-top: 22px;
          color: var(--color-primary);
        }
        .btn {
          margin-left: auto;
        }
      }
      .tac-description {
        p {
          font-size: 14px;
          margin: 0px;
          font-weight: bold;
          .green {
            color: var(--color-positive);
          }
        }
      }
    }
  }
}
app-setting,
app-account-detail .app-card .app-card-body {
  .container,
  .container-fluid {
    padding-bottom: 0;
    .section-header {
      margin-bottom: 10px;
      color: var(--color-nav-3);
    }
    .app-card {
      .app-card-header {
        border: none;
        background: none;
        padding-bottom: 30px;
        min-height: 100%;

        .line-full {
          height: 1px;
          background: var(--color-6);
          margin-top: -16px;
        }

        .steps {
          padding-top: 0;
          .step .line {
            background-color: var(--color-6);
            height: 1px;
          }

          .dot {
            background-color: var(--step-dot-outline);
            &.active {
              border: 6px solid var(--step-dot-active-outline);
            }
          }
        }
      }
      .app-card-body {
        border: none;
        .card-body-main {
          padding: 0;
        }
        .app-card-tac {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          margin-left: -30px;
          margin-right: -30px;
          padding: 30px;
        }
        .tac-wrapper {
          margin-top: -18px;
        }
      }
    }
  }
}

app-account-detail .app-card .app-card-body {
  .container > .section-header {
    display: none;
  }
  .card-body-main .section-header {
    display: block;
  }
  .line-full {
    display: none;
  }
}

app-apply-casa,
app-apply-loan,
app-apply-account app-placement-detail,
app-apply-account app-placement-period,
app-apply-account app-confirm,
app-apply-account app-success,
app-apply-account app-fail {
  .container-fluid {
    padding: 20px;
  }

  .app-card-header {
    border: none !important;
    background: none !important;
    min-height: 100%;

    .line-full {
      height: 1px;
      background: var(--color-6);
      margin-top: -16px;
    }

    .steps {
      padding-top: 0 !important;
      .step .line {
        background-color: var(--color-6) !important;
        height: 0 !important;
      }

      .dot {
        background-color: var(--step-dot-outline) !important;
        &.active {
          border: 6px solid var(--step-dot-active-outline) !important;
        }
      }
    }
  }
  .app-card-body {
    border: none !important;
    .card-body-main {
      padding: 0 !important;
    }
    .app-card-tac {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      padding: 30px !important;
    }
    .tac-wrapper {
      margin-top: -18px !important;
    }
  }
  .product-card {
    margin-bottom: 20px;

    .product-card-body {
      .product-img {
        width: 220px;
      }

      .product-name {
        color: var(--color-secondary);
        font-weight: 700;
      }

      .product-desc {
        font-size: 16px;
        // max-height: 100px;
        // overflow-y: auto;
      }

      .read-more {
        font-size: 16px;
      }
    }
  }
}

app-add-favourite-modal {
  .tac-wrapper {
    margin-top: 0 !important;
    .app-card-tac {
      padding: 20px;
      background-color: var(--color-tac-bg);
      form {
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: 5px;
        .form-control {
          font-weight: bold;
          border: none;
          text-align: left;
          width: 100px;
          &[disabled] {
            background: none;
          }
          padding: 0px;
          &::placeholder {
            text-align: left;
            font-weight: normal;
          }
          color: var(--color-primary);
        }
        .tac-interval {
          margin: 0px;
          font-weight: bold;
          padding-top: 22px;
          color: var(--color-primary);
        }
        .btn {
          margin-left: auto;
        }
      }
      .tac-description {
        p {
          font-size: 14px;
          margin: 0px;
          font-weight: bold;
          .green {
            color: var(--color-positive);
          }
        }
      }
    }
  }
}
